.Tic-Tac-Toe_Box {
    width: 128px;
    height: 128px;

    padding: .5rem;

    & .Box_Circle[data-select='false'],
    & .Box_Cross[data-select='false'] {
        display: none;
    }

    & .Box_Circle[data-select=true],
    & .Box_Cross[data-select=true] {
        display: block;
    }

    &:has(>.Box_Circle[data-select='false']),
    &:has(>.Box_Cross[data-select='false']) {
        pointer-events: all;
    }

    &:has(>.Box_Circle[data-select=true]),
    &:has(>.Box_Cross[data-select=true]) {
        pointer-events: all;
    }
}