.Tic-Tac-Toe {

    display: flex;
    flex-direction: column;

    align-items: center;

    & * {
        margin: 0;
    }

    & .Tic-Tac-Toe_table-game {
        width: 450px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
    }

    & .box-0 {
        border-right: var(--tic-tac-toe-border);
        border-bottom: var(--tic-tac-toe-border);
    }
    
    & .box-1 {
        border-left: var(--tic-tac-toe-border);
        border-bottom: var(--tic-tac-toe-border);
        border-right: var(--tic-tac-toe-border);
    }
    
    & .box-2 {
        border-bottom: var(--tic-tac-toe-border);
        border-left: var(--tic-tac-toe-border);
    }
    
    & .box-3 {
        border-top: var(--tic-tac-toe-border);
        border-bottom: var(--tic-tac-toe-border);
        border-right: var(--tic-tac-toe-border);
    }
    
    & .box-4 {
        border-top: var(--tic-tac-toe-border);
        border-bottom: var(--tic-tac-toe-border);
        border-right: var(--tic-tac-toe-border);
        border-left: var(--tic-tac-toe-border);
    }
    
    & .box-5 {
        border-top: var(--tic-tac-toe-border);
        border-bottom: var(--tic-tac-toe-border);
        border-left: var(--tic-tac-toe-border);
    }
    
    & .box-6 {
        border-top: var(--tic-tac-toe-border);
        border-right: var(--tic-tac-toe-border);
    }
    
    & .box-7 {
        border-left: var(--tic-tac-toe-border);
        border-top: var(--tic-tac-toe-border);
        border-right: var(--tic-tac-toe-border);
    }
    
    & .box-8 {
        border-top: var(--tic-tac-toe-border);
        border-left: var(--tic-tac-toe-border);
    }
     
}